{**
 * My Application layout template.
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="robots" content="{$robots}" n:ifset="$robots">

        <title>{block title|striptags}IIS - registr vozidel{/block}</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui.css">
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/grid.css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        {block head}{/block}
    </head>

    <body>
        <div id="all">
            <script> document.documentElement.className += ' js'</script>

            {snippet flashes}
                <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
            {/snippet}

            <div id="content">
                {if $user->loggedIn}
                    <div id="menu">
                        <ul>
                            <li n:if="$user->isInRole('admin')">
                                <span class="menuCaption">Uživatelé</span>
                                <ul>
                                    <li><a n:href="Users:">Přehled uživatelů</a></li>
                                    <li><a n:href="Users:add">Přidat uživatele</a></li>
                                </ul>
                            </li>
                            <li n:if="$user->isInRole('official')">
                                <span class="menuCaption">Přestupky</span>
                                <ul>
                                    <li><a n:href="Offenses:">Definice přestupků</a></li>
                                    <li><a n:href="Offenses:add">Definovat přestupek</a></li>
                                </ul>
                            </li>
                            <li n:if="$user->isInRole('official') or $user->isInRole('officer')">
                                <span class="menuCaption">Řidiči</span>
                                <ul>
                                    <li><a n:href="Drivers:">Přehled řidičů</a></li>
                                    <li n:if="$user->isInRole('official')"><a n:href="Drivers:add">Přidat řidiče</a></li>
                                </ul>
                            </li>
                            <li n:if="$user->isInRole('official') or $user->isInRole('officer') or $user->isInRole('technician')">
                                <span class="menuCaption">Vozidla</span>
                                <ul>
                                    <li><a n:href="Vehicles:">Přehled vozidel</a></li>
                                    <li n:if="$user->isInRole('official')"><a n:href="Vehicles:add">Přidat vozidlo</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {/if}
                <div id="user">
                    {if $user->loggedIn}
                        <div class="username"><span class="key">Login:</span><span class="value">{$user->getIdentity()->username}</span></div>
                        <div class="name"><span class="key">Jméno:</span><span class="value">{$user->getIdentity()->name} {$user->getIdentity()->surname}</span></div>
                        <div class="logout"><a n:href="Sign:out">Odhlásit</a></div>
                    {/if}
                </div>
                <div class="clear"></div>
                {include #content}
            </div>

            {block footer}
            {/block}
            <div id="footer" class="floatContainer">
                <span class="left">
                    PHP {=PHP_VERSION} |
                    {ifset $_SERVER['SERVER_SOFTWARE']}Server {$_SERVER['SERVER_SOFTWARE']} |{/ifset}
                    Nette Framework {=Nette\Framework::VERSION}
                </span>
                <span class="right">
                    {if $user->loggedIn}<a n:href="Sign:out">Odhlásit</a>{/if}
                </span>
            </div>
            {block scripts}
            <script src="{$basePath}/js/jquery.js"></script>
            <script src="{$basePath}/js/jquery-ui.js"></script>
            <script src="{$basePath}/js/netteForms.js"></script>
            <script src="{$basePath}/js/main.js"></script>
            <script src="{$basePath}/js/grid.js"></script>
            {/block}
        </divF>
</body>
</html>
