#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

#all{
    margin: auto;
    padding: 0 15px;
}

#content,
#footer {
    margin: 25px 0px;
    background-color: white;
    border-radius: 25px;
}

#content {
    padding: 25px;
}

#footer {
    color: #666;
    padding: 15px 25px;
}

#menu {
    margin-bottom: 75px;
    float: left;
}

#user {
    float: right;
}

#user .key {
    text-align: left;
    display: inline-block;
    width: 70px;
}

#user .value {
    text-align: right;
    display: inline-block;
    width: 150px;
}

#user .logout {
    text-align: right;
}

#menu li {
    list-style: none;
    text-align: center;
    float: left;
    position: relative;
    width: 250px;
    background-color: rgb(52, 132, 210);
    padding: 10px 25px;
    cursor: pointer;
    color: white;
    margin: 0 1px;
}

#menu li:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#menu li:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menu li ul {
    display: none;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
}

#menu li:hover ul {
    display: initial;
    padding: 0;
    background: white;
    border-radius: 15px;
}

#menu li ul li {
    margin: 1px 0;
    padding: 0px;
    width: auto;
}

#menu li:hover ul li {
    border-radius: 0px;
}

#menu li ul li:first-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#menu li ul li:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#menu li ul li a {
    color: white;
    display: block;
    width: 250px;
    height: 100%;
    padding: 10px 25px;
}

body {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: #3484D2;
    font-family: sans-serif;
}

h1 {
    color: #3484D2;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

div.flash.success {
    background: rgb(225, 255, 215);
    border: 1px solid rgb(65, 226, 34);
}

div.flash.error {
    background: rgb(255, 215, 215);
    border: 1px solid rgb(226, 34, 34);
}

a{
    color: #3484D2;
    text-decoration: none;
}

a[href^="error:"] {
    background: red;
    color: white;
}

form {
    font-size: 15px;
}

form input,
form select {
    font-size: 15px;
    width: 300px;
}

form table {
    margin: auto;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

form.signInForm input {
    width: auto;
}

html.js .jshidden {
    display: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

.floatContainer{
    overflow: auto;
}